#featured {
    display: grid;
    grid-template-columns: 2fr 2fr; 
    gap: 16px;

}

section header {
    display: flex;
    justify-content: space-between; /* Empurra o título para um lado e o link para o outro */
    align-items: center;           /* Garante que fiquem alinhados na mesma altura */
    width: 100%;                   /* Garante que o header use todo o espaço disponível */
}

/* Ajuste fino para o link "Ver tudo" */
header a {
    display: flex;
    align-items: center;
    gap: 8px; 
    text-decoration: none;
}



section header {
    display: flex;
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        span{
            background-image: url(../assets/icons/arrowrightbranco.svg);
            width: 14px;
            height: 12px;
        }
        &:hover span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 14px;
            height: 14px;
            
        }

    }

}

#featured  {
    grid-area: featured;
    img{
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
        
    }

    .card {
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(
            180deg, 
            transparent 0%, 
            #020617
            );
    }
            
    figcaption {
        position: absolute;
        bottom: 0;
        padding: 24px;

        &:has(.text-lg){
        padding: 12px;

        h2{
            margin-top: 8px;
            }
        }
    }
}
}

#weekly {
    grid-area: weekly;

    &>div {
        display: grid;
        grid-template-columns: repeat(4, 292px);
        gap: 16px;
    }
    imag{
        height: 160%;
    };

    figure{
        position: relative;

        .cpntext-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p{
            margin-top: 8px;
            font-weight: 800;
        }
    }
}

#ai {
    grid-area: ai;
    imag{
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

h3{
    margin-block: 8px 4px;

}

aside {
    grid-area: aside;
}

more{
    img{
        width: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}